<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Porto Dorito</title>
  </head>
  <body>
    <div class="menuBar">
      <a href="index">Homepage</a>

      <a href="updateUser"> Update user</a>

      <a href="deleteUser"> Delete user</a>

      <a href="createProduct"> Create product</a>

     <a href="updateProduct"> Update Product</a>

      <a href="deleteProduct"> Delete product </a>

      <a href="showProducts"> Show products </a> 
  </div>
  <h1>
    Delete user here 
  </h1>
  <br />
  <br />
    <form id="SletBruger">
      
      Slet user: <button id="submit">Slet Min Bruger</button>
    </form>

    <script src="/assets/js/deleteUser.js"></script>
  </body>
</html>
