<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Porto Dorito</title>
  </head>
  <body>
    <div class="menuBar">
      <a href="index">Homepage</a>

      <a href="updateUser"> Update user</a>

      <a href="deleteUser"> Delete user</a>

      <a href="createProduct"> Create product</a>

     <a href="updateProduct"> Update Product</a>

      <a href="deleteProduct"> Delete product </a>

      <a href="showProducts"> Show products </a> 
  </div>
  <h1>
    Delete product here
  </h1>
  <br />
  <br />
    <form id="deleteproductform">

      ID: 
      <input
        type="text"
        name="productid"
        id="productid"
        placeholder="Product id"
      />
      </form>
      
     

      Slet produkt: <button id="submit">Slet</button>
    </form>

    <script src="/assets/js/deleteProduct.js"></script>
  </body>
</html>
