<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script src="/js/index.js"></script>
</head>
<body>
    <h1>Homepage :) :P </h1>
    <div class="menuBar">
        <a href="index">Homepage</a>

        <a href="register"> Create User</a>

        <a href="login"> Log in </a>

        <a href="updateUser"> Update user</a>

        <a href="deleteUser"> Delete user</a>

        <a href="createProduct"> Create product</a>

        <a href="updateProduct"> Update Product</a>

        <a href="deleteProduct"> Delete product </a>

        <a href="showProducts"> Show products </a>



        
    </div>
    <br />
    <div>
        <button id="logud" onclick="logout()"> Log out </button>
    </div>
    <br>

    <br>
    <h2 id="product-title"></h2>

</body>
</html>